.banner {
    height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-size: cover;
     background-position: center;
    } 
    
    .banner .container {
        width: 400px;
    }
    
    .banner h2 {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .banner .container {
        margin-bottom: 20px;
    }
    #banners{
        background-image: url(/assets/images/web.jpg);
    }
    
    .bigger{
        font-size: x-large;
        margin-left: 50px;
        
       
    }