.sectioncrea{
    display: flex;
    background-color: grey;
    flex-direction: column;
}

.titrecrea{
    margin-left: 350px;
    font-family: 'Josefin Sans', sans-serif;
}

.textcrea{
    margin-top: 10%;
    font-size: 150%;
    font-family: 'Josefin Sans', sans-serif;
   
}

.imgdemon{
    float: right;
    margin-right: 100px;
}

.imgalbum {
    width: 55%;
    float: left;
}

.textcrea2{
    text-align: left;
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
}